{% extends '!layout.html' %}

{% block footer %}

<a href="www.univ-paris-diderot.fr">
  <img src="{{ pathto('_static/paris7.png', 1) }}" alt="Université Paris Diderot / Paris 7" height="80" style="image-orientation: 90deg;">
</a>

<a href="www.apc.univ-paris-diderot.fr">
  <img src="{{ pathto('_static/apc.png', 1) }}" alt="Laboratoire APC" height="80">
</a>

<a href="http://univearths.in2p3.fr">
  <img src="{{ pathto('_static/labex-univearths.png', 1) }}" alt="UnivEarthS' LabEx" height="80">
</a>

<script language="JavaScript" src="http://freehostedscripts.net/ocount.php?site=ID2440830&name=Visits since 2014.02"></script>
{% endblock %}
